# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/nbproject/
/.buildpath
/Resources/Public/Css/
.DS_Store
*.pyc
*.pyo
.settings
.project
.idea
.sass-cache
*.project
.settings/org.eclipse.core.resources.prefs
compass_app_log.txt
sftp-config.json