/*!
 * HOWTO - Working with the SASS structure
 * -------------------------------------------------------------------------------------------------
 *
 * #1: Main structure
 * ./Components/: SASS patterns intended to be used across the site. Pretty much everything in here will be devoted a section in the live style guide.
 * ./Library/: Contains only variables and mixins SASS that does not render any actual CSS, but is used later.
 * ./Sections/: Layouts and other page-specific stylings. Anything that is not intended to be used in multiple places in a versatile way.
 * ./Vendor/: Vendor framework libraries.
 *
 *
 * #2: Include paritals
 * - Uncomment features as you need them, when your user stories demand the functionality.
 * - If you need to modify a partial, create a new one in "Components" and include it after this one!
 */


/*!
 * Website styles
 * -------------------------------------------------------------------------------------------------
 */
// Fade-Effect, http://www.bootply.com/60258
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel {
    margin-bottom: $line-height-computed;
    background-color: $threeme-blue;

    .carousel-control {
        .threeme-ui-prev,
        .threeme-ui-next {
            position: absolute;
            top: 50%;
            left: 20%;
            z-index: 5;
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: -10px 0 0 -10px;
            font-size: 30px;
            line-height: 1;
        }

        .threeme-ui-next {
            left: auto;
            right: 20%;
            margin: -10px -10px 0 0;
        }
    }

    .carousel-caption {
        top: 30%;
        bottom: 0;
        padding: 0;
        font-size: $font-size-h4;

        .carousel-caption-title {
            font-family: 'Lobster', cursive;
            font-size: floor(($font-size-h1 * 1.5));
            text-transform: none;
        }

        .carousel-caption-divider {
            width: 20%;
            left: 40%;
            background-color: $threeme-white;
        }

        p {
            margin-bottom: 0;
        }

        @media (min-width: $screen-md) {
            font-size: $font-size-h3;

            .carousel-caption-title {
                font-size: floor(($font-size-h1 * 2.5));
            }
        }
    }

    .carousel-indicators {
        bottom: -40px;
        margin-bottom: 0;

        li {
            width: 10px;
            height: 10px;
            margin: 2px 10px;
            background-color: $carousel-indicator-border-color;

            &:hover,
            &:focus,
            &.active {
                width: 14px;
                height: 14px;
                margin: 0 8px;
                border-color: $carousel-indicator-active-bg;
                background-color: transparent;
            }
        }
    }

    // Banner "mode" - only one item in carousel
    &.carousel-banner {
        .carousel-caption {
            top: 0;
            right: ($grid-gutter-width / 2);
            bottom: 0;
            left: ($grid-gutter-width / 2);

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: $font-size-h2;
            text-transform: uppercase;

            @media(max-width: $grid-float-breakpoint-max) {
                font-size: $font-size-h4;
            }
        }
    }
}

// Exception for main carousel on page top
.threeme-carousel {
    .carousel {
        top: -70px;
        z-index: 1;
        margin-bottom: (($line-height-computed / 2) * 4);
    }
}

// Exception for Backend-Layout 'Home'
.backend-layout-home {
    .carousel-banner {
        margin-bottom: (($line-height-computed / 2) * 16);
    }
}
