/*!
 * HOWTO - Working with the SASS structure
 * -------------------------------------------------------------------------------------------------
 *
 * #1: Main structure
 * ./Extensions/: SASS partials for TYPO3 extensions you use in your website.
 * ./Frontend/Components/: SASS patterns intended to be used across the site. Pretty much everything in here will be devoted a section in the live style guide.
 * ./Frontend/Library/: Contains only variables and mixins SASS that does not render any actual CSS, but is used later.
 * ./Frontend/Sections/: Layouts and other page-specific stylings. Anything that is not intended to be used in multiple places in a versatile way.
 * ./Vendor/: Vendor libraries in subfolders with SASS container files on top. Uncomment features in container as you need them, when your user stories demand the functionality.
 * ./styles-*.scss: The SASS container files which are compiled to native CSS.
 * ./config.rb: Configuration file for compass, if you want to complie your SASS on your own instead of using third party extensions like "dyncss".
 *
 *
 * #2: SASS container and partials
 * - Uncomment features in vendor container or in the compiling SASS files as you need them, when your user stories demand the functionality.
 * - If you need to add a new or modify a (vendor) partial, create a new one in "Components" or "Sections" and include it in the compiling SASS file.
 *
 * -------------------------------------------------------------------------------------------------
 */


/*!
 * Custom styles
 * -------------------------------------------------------------------------------------------------
 */

// @NOTE: Negate all top margins of atoms, just use bottom margins only and equalize them!
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
}

h1, .h1 {
    text-transform: uppercase;
    margin-bottom: (($line-height-computed / 2) * 3);
}

// Exception for Backend-Layout 'Home'
.backend-layout-home {
    h1, .h1 {
        margin-bottom: (($line-height-computed / 2) * 8);
    }
}

h2, .h2 {
    font-weight: 300;
    margin-bottom: (($line-height-computed / 2) * 3);
}

h3, .h3 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: $line-height-computed;
}

h4, .h4 {
    font-weight: 600;
}

p,
ul,
ol {
    margin-bottom: $line-height-computed;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: (($line-height-computed / 2) * 3) 0;
    padding: 0;
    width: 50%;
    left: 25%;
    position: relative;
    border: none;
    background-color: $threeme-gray;
}

// Add RTE link classes to get them visible
.internal-link,
.external-link,
.download,
.mail,
.lightbox {
    text-decoration: $link-hover-decoration;
}

// Add custom layouts for text orientation. Used in cType "header" and "threeme-flexbox".
.threeme-align-200 {
    text-align: left;
}

.threeme-align-201 {
    text-align: center;
}

.threeme-align-202 {
    text-align: right;
}

.threeme-align-203 {
    text-align: justify;
}
