/*!
 * HOWTO - Working with the SASS structure
 * -------------------------------------------------------------------------------------------------
 *
 * #1: Main structure
 * ./Extensions/: SASS partials for TYPO3 extensions you use in your website.
 * ./Frontend/Components/: SASS patterns intended to be used across the site. Pretty much everything in here will be devoted a section in the live style guide.
 * ./Frontend/Library/: Contains only variables and mixins SASS that does not render any actual CSS, but is used later.
 * ./Frontend/Sections/: Layouts and other page-specific stylings. Anything that is not intended to be used in multiple places in a versatile way.
 * ./Vendor/: Vendor libraries in subfolders with SASS container files on top. Uncomment features in container as you need them, when your user stories demand the functionality.
 * ./styles-*.scss: The SASS container files which are compiled to native CSS.
 * ./config.rb: Configuration file for compass, if you want to complie your SASS on your own instead of using third party extensions like "dyncss".
 *
 *
 * #2: SASS container and partials
 * - Uncomment features in vendor container or in the compiling SASS files as you need them, when your user stories demand the functionality.
 * - If you need to add a new or modify a (vendor) partial, create a new one in "Components" or "Sections" and include it in the compiling SASS file.
 *
 * -------------------------------------------------------------------------------------------------
 */


/*!
 * Custom styles
 * -------------------------------------------------------------------------------------------------
 */

// Style RTE classes
.internal-link {
    .threeme-ui-internal-link {
        @extend .fa-link;
    }
}

.external-link {
    .threeme-ui-external-link {
        @extend .fa-external-link;
    }
}

.mail {
    .threeme-ui-mail {
        @extend .fa-envelope-o;
    }
}

.download {
    .threeme-ui-download {
        @extend .fa-download;
    }
}

.lightbox {
    .threeme-ui-lightbox {
        @extend .fa-picture-o;
    }
}

.threeme-ui-internal-link,
.threeme-ui-external-link,
.threeme-ui-mail,
.threeme-ui-download,
.threeme-ui-lightbox {
    margin-right: $padding-xs-horizontal;
}

// Style image overlayer in case of option "Enlarge on Click" or "FAL Link"
.threeme-ui-enlarge {
    position: relative;
    float: right;
    margin: -25px 5px 0 0;
    padding: 2px;
    color: $threeme-black;
    background-color: $threeme-white;
    @include threeme-border($threeme-border-width, $threeme-border-style, $threeme-white, $border-radius-base);
}

// Style option "Append with Link to Top of Page"
.threeme-ui-totop {
    margin: ($line-height-computed / 2) 0;
    text-align: right;

    span {
        margin-left: $padding-xs-horizontal;
    }
}
