<f:layout name="Website" />

<f:section name="Website">
    <div class="threeme-carousel">
        <f:cObject typoscriptObjectPath="lib.threemeDynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '200'}"/>
    </div>

    <div class="container">
        <div class="row">
            <main id="threeme-main" class="col-sm-12">
                <f:cObject typoscriptObjectPath="lib.threemeDynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
            </main>
        </div>
    </div>
</f:section>
