<f:layout name="{fluidLayoutSection}" />

<f:section name="Website">
    <f:render partial="Header" arguments="{_all}" />

    <!--TYPO3SEARCH_begin-->
    <div class="threeme-carousel">
        <f:cObject typoscriptObjectPath="lib.threemeDynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '200'}"/>
    </div>
    <!--TYPO3SEARCH_end-->

    <div class="container">
        <section class="row">
            <div class="col-sm-12">
                <!--TYPO3SEARCH_begin-->
                <f:cObject typoscriptObjectPath="lib.threemeDynamicContent" data="{pageUid: '{data.uid}', colPos: '201'}"/>
                <!--TYPO3SEARCH_end-->
            </div>

            <div class="col-sm-9 col-sm-offset-3">
                <f:cObject typoscriptObjectPath="menu.breadcrumbs" />
            </div>
        </section>

        <section class="row">
            <div class="col-sm-3">
                <f:cObject typoscriptObjectPath="menu.navlist" />
            </div>
            <main id="threeme-main" class="col-sm-9">
                <!--TYPO3SEARCH_begin-->
                <f:cObject typoscriptObjectPath="lib.threemeDynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
                <!--TYPO3SEARCH_end-->
            </main>
        </section>
    </div>

    <f:render partial="Footer" arguments="{_all}" />
</f:section>


<f:section name="Overlay">
    <div class="container">
        <div class="row">
            <main id="threeme-main" class="col-sm-12">
                <!--TYPO3SEARCH_begin-->
                <f:cObject typoscriptObjectPath="lib.threemeDynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
                <!--TYPO3SEARCH_end-->
            </main>
        </div>
    </div>
</f:section>
