<f:layout name="Website" />

<f:section name="Website">
    <f:render partial="Header" arguments="{_all}" />

    <!--TYPO3SEARCH_begin-->
    <div class="threeme-carousel">
        <f:cObject typoscriptObjectPath="lib.threemeDynamicContent" data="{pageUid: '{data.uid}', colPos: '200'}"/>
    </div>

    <main id="threeme-main">
        <section class="container">
            <div class="row">
                <div class="col-sm-12">
                    <f:cObject typoscriptObjectPath="lib.threemeDynamicContent" data="{pageUid: '{data.uid}', colPos: '201'}"/>
                </div>
            </div>
        </section>

        <f:cObject typoscriptObjectPath="lib.threemeDynamicContent" data="{pageUid: '{data.uid}', colPos: '202'}"/>

        <section class="container">
            <div class="row">
                <div class="col-sm-4">
                    <f:cObject typoscriptObjectPath="lib.threemeDynamicContent" data="{pageUid: '{data.uid}', colPos: '1'}"/>
                </div>
                <div class="col-sm-4">
                    <f:cObject typoscriptObjectPath="lib.threemeDynamicContent" data="{pageUid: '{data.uid}', colPos: '0'}"/>
                </div>
                <div class="col-sm-4">
                    <f:cObject typoscriptObjectPath="lib.threemeDynamicContent" data="{pageUid: '{data.uid}', colPos: '2'}"/>
                </div>
            </div>
        </section>
    </main>
    <!--TYPO3SEARCH_end-->

    <f:render partial="Footer" arguments="{_all}" />
</f:section>
