/*!
 * HOWTO - Working with the SASS structure
 * -------------------------------------------------------------------------------------------------
 *
 * #1: Main structure
 * ./Extensions/: SASS partials for TYPO3 extensions you use in your website.
 * ./Frontend/Components/: SASS patterns intended to be used across the site. Pretty much everything in here will be devoted a section in the live style guide.
 * ./Frontend/Library/: Contains only variables and mixins SASS that does not render any actual CSS, but is used later.
 * ./Frontend/Sections/: Layouts and other page-specific stylings. Anything that is not intended to be used in multiple places in a versatile way.
 * ./Vendor/: Vendor libraries in subfolders with SASS container files on top. Uncomment features in container as you need them, when your user stories demand the functionality.
 * ./styles-*.scss: The SASS container files which are compiled to native CSS.
 * ./config.rb: Configuration file for compass, if you want to complie your SASS on your own instead of using third party extensions like "dyncss".
 *
 *
 * #2: SASS container and partials
 * - Uncomment features in vendor container or in the compiling SASS files as you need them, when your user stories demand the functionality.
 * - If you need to add a new or modify a (vendor) partial, create a new one in "Components" or "Sections" and include it in the compiling SASS file.
 *
 * -------------------------------------------------------------------------------------------------
 */


/*!
 * Custom styles
 * -------------------------------------------------------------------------------------------------
 */
.navbar-default {
    z-index: 10;
    margin-bottom: 0;
    border: none;

    .navbar-brand {
        padding: 19px 15px;
    }

    @media(max-width: $grid-float-breakpoint-max) {
        .navbar-header {
            position: relative;
            z-index: 10;
        }

        .navbar-collapse {
            position: absolute;
            z-index: 9;
            top: 0px;
            width: 100%;
            padding-top: floor(($navbar-height + $line-height-computed));
            border: 0;

            &.collapsing,
            &.in {
                background-color: $threeme-blue;
            }
        }
    }

    .navbar-nav > li > a {
        font-size: $font-size-large;
        text-transform: uppercase;

        @media(min-width: $grid-float-breakpoint) {
            padding-top: 50px;
            padding-bottom: 0;
        }
    }

    .navbar-toggle {
        margin-top: 25px;
        margin-bottom: 0;
        border-radius: 0;

        .icon-bar {
            width: 30px;
            height: 3px;
            border-radius: $border-radius-base;
        }
        .icon-bar + .icon-bar {
            margin-top: 7px;
        }
    }
}
