{namespace threeme=THREEME\Threeme\ViewHelpers}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <f:cObject typoscriptObjectPath="lib.threemeDynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '300'}"/>
            </div>
            <div class="col-sm-6">
                <f:cObject typoscriptObjectPath="lib.threemeDynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '302'}"/>
            </div>

            <div class="col-sm-1 col-sm-offset-1">
                <div class="pull-right">
                    <f:cObject typoscriptObjectPath="lib.link-to-top"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <f:cObject typoscriptObjectPath="menu.footer"/>
                </div>
            </div>
        </div>
    </div>

    <f:if condition="{threeme:constant(constant:'threeme.frontend.enableCookiebar')}">
        <f:render partial="Cookiebar" arguments="{_all}" />
    </f:if>
</footer>
