{namespace threeme=THREEME\Threeme\ViewHelpers}

<f:comment>@TODO: sys_language_uid in Link</f:comment>
<div class="logo {f:if(condition:'{print}', then:'logo-print visible-print')}">
    <f:link.page pageUid="{threeme:constant(constant:'threeme.frontend.pidHome')}" class="navbar-brand" title="{f:translate(key: 'logo.label', extensionName: 'threeme')}">
        <f:image src="{threeme:constant(constant:'threeme.frontend.logo')}" width="{threeme:constant(constant:'threeme.frontend.logo.width')}" height="{threeme:constant(constant:'threeme.frontend.logo.height')}" alt="" />
        <span class="sr-only">{siteTitle}</span>
    </f:link.page>
</div>
